.header {
display: flex;
justify-content: space-between;
margin: auto;
width: 75%;

}


.navlist {
 display: flex;

 & a {

    align-items: center;
    justify-content: center;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    margin: 0 20px;
    min-width: 90px;
    padding: 2px;
    text-decoration: none;
 }

 & a:hover {
background-color: lightblue;
transition: .5s;

 }


}