.itemsContainer {
display: grid;
gap: 20px;
grid-template-columns: repeat(4, 1fr);

& div {
background-color: lightgreen;
border: 1px solid green;
border-radius: 8px;
display: flex;
flex-direction: column;
padding: 10px;
}

& img {
    height: 100px;
    margin: auto;
    width: 125px;
}

& h3 {
margin: 5px auto;
}

}







